<div class="app_demo">
  <ul class="nav_list">
    <li>
      <a routerLink="/home" routerLinkActive="active">首页</a>
    </li>
    <li>
      <a routerLink="/shop" routerLinkActive="active">商城</a>
    </li>
    <li>
      <a routerLink="/server" routerLinkActive="active">联系客服</a>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active">个人中心</a>
    </li>
    <li>
      <a routerLink="/eat" routerLinkActive="active">去哪吃</a>
    </li>
  </ul>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>